<html>
  <head>
    <title>Sql Unit Testing Suite</title>
  </head>
  <body>
    <h1>Create New Test</h1>
    <form action="new" method="POST" enctype="application/x-www-form-urlencoded">
      <label>Title
        <input name="title" type="text"></input>
      </label>
      <label>Content
        <input name="content" type="text"></input>
      </label>
      <input type="submit"/>
    </form>
  </body>
</html>
