<html>
  <head>
    <title>Sql Unit Testing Suite</title>
  </head>
  <body>
    <h1>Create New Test</h1>
    <form action="new" method="POST">
      <label>Title
        <input type="text"></input>
      </label>
      <label>Content
        <input type="text"></input>
      </label>
      <input type="submit"/>
    </form>
  </body>
</html>
