<html>
  <head>
    <title>Sql Unit Testing Suite</title>
  </head>
  <body>
    <h1 style="float: left;margin-bottom : 0"><%= name %></h1>
    <a style="float:right; margin-bottom: 0;" href="update">
      <button>Edit</button>
    </a>
    <a style="float:right; margin-right: 7px; margin-bottom : 0;" href="delete">
      <button>Delete</button>
    </a>
    <hr style="margin-top : 0; clear:both;"/>
   <div style="white-space :pre;"> 
     <p style="padding:0; margin:0;"><%= content %></p>
   </div>
   </body>
</html>
