form > div {
  float: left;
}

h1{
  margin-bottom: 0;
}

hr {
  margin-top:0px;
}

form > div:first-child{	
  margin-top: 5px;
  margin-bottom: 10px;
}

form > div > label{
  font-weight: bold;
}

input, label {
  display: block;
}

br {
  clear:both;
}

form > div:last-child {
  border: 1px solid black;
}

input[type="text"]{
  width: 600px;
}

div > textarea{
  width: 600px;
  height: 500px;
}

input[type="submit"]{
  margin-top:10px;
  float: left;
}

button {
  float:left;
  margin-top:10px;
  margin-left: 10px;
}
